body{margin:0px auto ;}

header{
background-image: url("images/banner/banner3.png");
background-size: cover;
height: 100vh; 
display: flex;
align-items:center;
justify-content: end;
text-align: center;
padding: 20px;
}
h4{
   color: #0a0000fd;
   font-size: 20px;
   margin-bottom: 25px;
}
.call-btn{
   border-radius: 10px;
  background-color: rgb(142, 102, 203);
   border: none;
   padding: 15px 25px;
   color: #fef8f8f4;
   font-size: 20px;
   font-weight: 700px;
}
:hover.call-btn{
   background-color:rgb(240, 238, 247);
   color: rgb(53, 10, 246);
}
.container{
   margin-left: 100px;
  margin-top: 150px;
   display: flex;
   
}
.oder-list{
  margin-top: 200px;
  padding: 40px;
   
}
.Document{
   display: flex;
   align-items: center;
   justify-content: space-around;
   
}
.plan{
   padding-top: 50px;
  margin-right: 160px;
   text-align: center;
}
.mindset{
   background-image: url('images/watch.png');
   background-size: cover;
   height: 40vh;
   width: 150vh;
   margin: 40px 120px;
   padding: 40px;
   border-radius: 20px;
   
}
h4{
   color: aliceblue;
   font-size: 30px;
}
.about{
       text-align: left;
       padding: 30px;
}
.footer{color: aliceblue;
   background-color: rgb(20, 8, 8);
   display: flex;
   justify-content: space-around;
   margin-top: 100px;
   align-items: center;
}
.hide{display: none;}

@media screen and (max-width:576px){
   
   .container1{
   }
}